.navbar {
    position: absolute;
    width: 50vw;
    max-width: 250px;
    background-color: #56667a;
    padding: 20px;
    left: -100%;
    top: 80px;
    height: calc(100vh - 80px);
    transition: 0.3s;
}

.menuOpen {
    left: 0;
}
